<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>iPhone</h1>
                <p>The iPhone is a line of smartphones produced by Apple Inc. which uses Apple's own iOS mobile operating system. The first-generation iPhone was announced by then-Apple CEO Steve Jobs on January 9, 2007. Since then, Apple has annually released new iPhone models and iOS updates. As of November 1, 2018, more than 2.2 billion iPhones had been sold.The Oppo Find 5 was released in America in February 2013. It featured clean lines, a thin rectangular shape, and an overall elegant appearance.[46] The Oppo Find 5 had a pixel density of 441 ppm, which puts it in the highest range of the mobile phones with HD display at its release time. In July 2013, a refreshed Oppo Find 5 launched in China. The processor has been changed to Snapdragon 600 instead of the Snapdragon S4 Pro. The Android version was updated to Android 4.2.2 as well while other specifications remained the same.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h1>samsung</h1>
                    <p>Samsung Galaxy (Korean: 삼성 갤럭시, stylized as SΛMSUNG Galaxy since 2015 (except Japan where it omits the Samsung branding),[2] previously stylized as Samsung GALAXY; abbreviated as SG) is a series of computing and mobile computing devices that are designed, manufactured and marketed by Samsung Electronics.The Oppo Find 5 was released in America in February 2013. It featured clean lines, a thin rectangular shape, and an overall elegant appearance.[46] The Oppo Find 5 had a pixel density of 441 ppm, which puts it in the highest range of the mobile phones with HD display at its release time. In July 2013, a refreshed Oppo Find 5 launched in China. The processor has been changed to Snapdragon 600 instead of the Snapdragon S4 Pro. The Android version was updated to Android 4.2.2 as well while other specifications remained the same.[47]</p>
                </div>
                <div class="col-12 col-md-6">
                    <h1>oppo</h1>
                    <p>The Oppo Find 5 was released in America in February 2013. It featured clean lines, a thin rectangular shape, and an overall elegant appearance.[46] The Oppo Find 5 had a pixel density of 441 ppm, which puts it in the highest range of the mobile phones with HD display at its release time. In July 2013, a refreshed Oppo Find 5 launched in China. The processor has been changed to Snapdragon 600 instead of the Snapdragon S4 Pro. The Android version was updated to Android 4.2.2 as well while other specifications remained the same.[47]

                        Find 7
                        The Oppo Find 7 is a phablet with 3GB of RAM and a 2.5  GHz Quad-Core processor.[48] The Oppo Find 7 is also available in another variant called the Find 7a, which has a 1080p screen and 2GB of RAM compared to the Find 7, which sports higher specs. It was announced on 19 March 2014 and released in April 2014. It is similar in design to the OnePlus One released in April 2014.</p>
                </div>
                </div>
                </div>
</body>
</html>